name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-setup-crs:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install crs using setup-crs action
        uses: ./setup-crs
        with:
          crs-version: 0.0.20251014

      - name: Check crs version
        run: crs --version
